html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen,
    Cantarell, sans-serif;
}

.hero-banner {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/pm-images/plainsimple/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

.text-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}
