<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{ .CSS }}
  <title></title>
</head>
<body>
  <nav class="absolute w-100">
    <ul class="flex flex-wrap justify-end list pa0">
      {{ if .EditMode }}
      <button class="nav-link" data-template="new-nav" data-insertafter="nav-injection">Add Section</button>
      <li id="new-nav" class="nav-link" data-row="nav"><a href="" data-row.href="link" data-row.name="title">Section</a></li>
      <li id="nav-injection"></li>
      {{ end }}
      {{ range $i, $row := getRows . "nav" }}
      <li class="nav-link" data-row="nav"><a href="{{ $row.link }}" data-row.href="link" data-row.name="title">{{ $row.title }}</a></li>
      {{ else }}
      <li class="nav-link" data-row="nav"><a href="/" data-row.href="link" data-row.name="title">Home</a></li>
      <li class="nav-link" data-row="nav"><a href="/about-me" data-row.href="link" data-row.name="title">About Me</a></li>
      <li class="nav-link" data-row="nav"><a href="/contact" data-row.href="link" data-row.name="title">Contact</a></li>
      {{ end }}
    </ul>
  </nav>
  <header class="hero-banner flex justify-center items-center">
    <div class="tc white">
      {{ $title := getValue . "title" (namespace .Vars.Namespace) }}
      <h1 class="f1 text-border" data-name="title" data-namespace="{{ .Vars.Namespace }}">
        {{- if $title.Valid }}{{ $title | safeHTML }}{{ else }}My Blog{{ end -}}
      </h1>
      {{ $subtitle := getValue . "subtitle" (namespace .Vars.Namespace) }}
      <h2 class="f3 text-border tc" data-name="subtitle" data-namespace="{{ .Vars.Namespace }}">
        {{- if $subtitle.Valid }}{{ $subtitle | safeHTML }}{{ else }}Where I write about <em>stuff</em>{{ end -}}
      </h2>
    </div>
  </header>
  <main class="posts-list pt4-l pb2-l ph7-l">
    {{ range $i, $post := getRows . "posts" }}
    <article data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">{{ $post.date | safeHTML }}</div>
      <div class="f3 fw7 lh-title"><a href="{{ $post.link }}" data-row.href="link" data-row.name="title">{{ $post.title | safeHTML }}</a></div>
      <div class="mt3" data-row.name="summary">{{ $post.summary | safeHTML }}</div>
      <div class="mt2 mb4"><a href="{{ $post.link }}">read more</a></div>
      <hr>
    </article>
    {{ else }}
    <article data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">2020 June 18</div>
      <div class="f3 fw7 lh-title"><a href="" data-row.href="link" data-row.name="title">HASH: a free, online platform for modeling the world</a></div>
      <div class="mt3" data-row.name="summary">Sometimes <b>simulating</b> complex systems is the best way to understand them.</div>
      <div class="mt2 mb4"><a href="">read more</a></div>
      <hr>
    </article>
    <article data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">2019 December 05</div>
      <div class="f3 fw7 lh-title"><a href="" data-row.href="link" data-row.name="title">So, how’s that retirement thing going, anyway?</a></div>
      <div class="mt3" data-row.name="summary">For the last couple of months, Prashanth Chandrasekar has been getting settled in as the new CEO of Stack Overflow. I’m still going on some customer calls…</div>
      <div class="mt2 mb4"><a href="">read more</a></div>
      <hr>
    </article>
    <article data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">2019 September 24</div>
      <div class="f3 fw7 lh-title"><a href="" data-row.href="link" data-row.name="title">Welcome, Prashanth!</a></div>
      <div class="mt3" data-row.name="summary">Last March, I shared that we were starting to look for a new CEO for Stack Overflow. We were looking for that rare combination of someone who…</div>
      <div class="mt2 mb4"><a href="">read more</a></div>
      <hr>
    </article>
    <article data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">2019 March 28</div>
      <div class="f3 fw7 lh-title"><a href="" data-row.href="link" data-row.name="title">The next CEO of Stack Overflow</a></div>
      <div class="mt3" data-row.name="summary">We’re looking for a new CEO for Stack Overflow. I’m stepping out of the day-to-day and up to the role of Chairman of the Board.</div>
      <div class="mt2 mb4"><a href="" data-row.href="link">read more</a></div>
      <hr>
    </article>
    {{ end }}
    {{ if .EditMode }}
    <div id="article-injection"></div>
    <div class="pv2">
      <button data-template="new-article" data-insertafter="article-injection">Add Article</button>
    </div>
    <article id="new-article" data-row="posts">
      <div class="f6 mt2 gray" data-row.name="date">2020 January 01</div>
      <div class="f3 fw7 lh-title"><a href="" data-row.href="link" data-row.name="title">Lorem ipsum dolor sit amet</a></div>
      <div class="mt3" data-row.name="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      <div class="mt2 mb4"><a href="">read more</a></div>
      <hr>
    </article>
    {{ end }}
    <img src="/pm-images/plainsimple/face.jpg" data-img.upload="/pm-images/plainsimple/face.jpg" height="400" width="600">
  </main>
  <footer class="flex justify-center mt5 pb3">
    {{ $owner := getValue . "owner" (namespace .Vars.Namespace) }}
    <div>
      Copyright © 2020
      <span data-name="owner" data-namespace="{{ .Vars.Namespace }}">
        {{- if $owner.Valid }}{{ $owner | safeHTML }}{{ else }}Robert Table{{ end -}}
      </span>. All rights reserved.
    </div>
  </footer>
  {{ .JS }}
</body>
</html>
